.form-rounded, .btn-rounded {
  border-radius: 1rem;
  background-color: transparent;
  color: white;
}

.searchButton {
  background-color: #FAB702 !important;
  border-color: #FAB702;
}

.btn-rounded {
  border-left: none;
}

.glyphicon .glyphicon-search {
  color: white !important;
}
