<h3 *ngIf="status == 2">
  <button type="button" class="btn btn-sm btn-primary" onclick="console.log('accepted')">
    <span>Accepted</span>
  </button>
</h3>
<h3 *ngIf="status == 0">
  <button type="button" class="btn btn-sm btn-primary" onclick="console.log('rejected')">
    <i class="fa fa-checkmark-round"></i> <span>Rejected</span>
  </button>
</h3>
<h3 *ngIf="status == 1">
  <button type="button" class="btn btn-primary btn-xs" (click)="acceptRequest()">
    Accept
  </button>
  <button type="button" class="btn btn-danger btn-xs" (click)="rejectRequest()">
    Reject
  </button>
 </h3>
