<div class="container" style="width: 80%">
  <div class="user-profile">
    <div class="row">
      <div class="profile-header-background"><img src="http://demo.thedevelovers.com/dashboard/queenadmin-1.2/assets/img/city.jpg" alt="Profile Header Background"></div>
      <div class="col-md-4">
        <div class="profile-info-left">
          <div class="text-center">
            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Avatar" class="avatar img-circle">
            <h3>{{userprofile.firstName}} {{userprofile.lastName}}</h3>
            <p class="text-muted text-capitalize">@{{userprofile.riftTag}}</p>
          </div>
          <div class="section">
            <h3>About Me</h3>
            <p> {{userprofile.bio}} </p>
          </div>
          <div class="section">
            <h3>Statistics</h3>
            <p><span class="badge">{{userprofile.followings}}</span> Following</p>
            <p><span class="badge">{{userprofile.followers}}</span> Followers</p>
            <p><span class="badge">{{userprofile.rifterSessions?.length}}</span> Sessions Played</p>
          </div>
          <div class="section">
            <h3>Social</h3>
            <ul class="list-unstyled list-social">
              <li><a href="#"><i class="fa fa-youtube"></i> {{userprofile.youtubeAccount}}</a></li>
              <li><a href="#"><i class="fa fa-twitch"></i> {{userprofile.twitchAccount}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="profile-info-right">
          <ul class="nav nav-pills nav-pills-custom-minimal custom-minimal-bottom">
            <li class="active"><a href="#feed" data-toggle="tab">feed</a></li>
            <li><a href="#activity" data-toggle="tab">activity</a></li>
            <li><a href="#sessions" data-toggle="tab">sessions</a></li>
            <li><a href="#followers" data-toggle="tab">followers</a></li>
            <li><a href="#following" data-toggle="tab">following</a></li>
          </ul>
          <div class="tab-content">
            <!-- feed -->
            <div class="tab-pane fade in active" id="feed">
              <div class="media activity-item" *ngFor="let notification of broadcastNotifications">
                <a href="#" class="pull-left">
                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Avatar" class="media-object avatar">
                </a>
                <div class="media-body">
                  <p class="activity-title"><a href="#">{{notification.riftTag}}</a> {{notification.activities[0].notificationContent}} </p>
                  <small class="text-muted">{{notification.activities[0].createdTime | date:'fullDate'}} at {{notification.activities[0].createdTime | date:'shortTime'}}</small>
                </div>
              </div>
            </div>
            <!-- end feed -->
            <!-- activities -->
            <div class="tab-pane fade in active" id="activity">
              <div class="media activity-item" *ngFor="let activity of userprofile.activities">
                <a href="#" class="pull-left">
                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Avatar" class="media-object avatar">
                </a>
                <div class="media-body">
                  <p class="activity-title"><a href="#">{{userprofile.riftTag}}</a> {{activity.notificationContent}} </p>
                  <small class="text-muted">{{activity.createdTime | date:'fullDate'}} at {{activity.createdTime | date:'shortTime'}}</small>
                </div>
                <div class="btn-group pull-right activity-actions">
                  <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-th"></i>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#">I don't want to see this</a></li>
                    <li><a href="#">Unfollow Antonius</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Get Notification</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- end activities -->
            <div class="tab-pane fade" id="sessions">
              <div class="media sessions-item" *ngFor="let session of sessions">
                <app-session-card
                  hostName="{{session.firstName}} {{session.lastName}}"
                  hostRiftTag="{{session.riftTag}}"
                  hostRifterRating="{{session.rifterRating}}"
                  title="{{session.sessionTitle}}"
                  day="{{session.sessionTime | date:'dd'}}"
                  month="{{session.sessionTime | date:'MMM'}}"
                  time="{{session.sessionTime | date:'shortTime'}}"
                  title="{{session.sessionTitle}}"
                ></app-session-card>
              </div>
            </div>
            <!-- followers -->
            <div class="tab-pane fade" id="followers">
              <div class="media user-follower" *ngFor="let follower of followerUserprofiles">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User Avatar" class="media-object pull-left">
                <div class="media-body">
                  <a href="#">{{follower.firstName}} {{follower.lastName}}
                    <br><span class="text-muted username">@{{follower.riftTag}}</span></a>
                  <button type="button" class="btn btn-sm btn-toggle-following pull-right"><i class="fa fa-checkmark-round"></i> <span>Following</span></button>
                </div>
              </div>
            </div>
            <!-- end followers -->
            <!-- following -->
            <div class="tab-pane fade" id="following">
              <div class="media user-following" *ngFor="let following of followingUserprofiles">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User Avatar" class="media-object pull-left">
                <div class="media-body">
                  <a href="#">{{following.firstName}} {{following.lastName}}
                    <br><span class="text-muted username">@{{following.riftTag}}</span></a>
                  <button type="button" class="btn btn-sm btn-danger pull-right"><i class="fa fa-close-round"></i> Unfollow</button>
                </div>
              </div>
            </div>
            <!-- end following -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
