@charset "utf-8";
/* CSS Document */

* {
  border: 0px red solid;
}

body {
  background-color: #1B2531;
  color: #F7F7F2;
  font-family: "Montserrat", sans-serif;
}

#header {
  margin: 0px auto;
  width: 840px;

}
#header #overview {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color: #2E3E4F;
  border: 1px #18202A solid;

}

#header #overview .headshot {
  margin: 42px 15px 35px 40px;
  display: inline-block;
  order: 0;
  width: 106px;
  height: 106px;

}
#header #overview #basic-details{
  order: 1;
  margin-top: 52px;
}

#header #overview #user-stats {
  order: 2;
  display: inline-block;
  align-self: center;
  padding: 0px 20px;
  margin-left: 30px;
}
.stat-item {
  display: inline-block;
  margin: 0px 10px;
  width: 70px;
  height: auto;
}
.stat-item .stat {
  font-size: 35px;
  color: #F6511D;
  text-align: center;
  width: 100%;
  display: inline-block;

}
.stat-item label {
  font-size: 13px;
  text-align: center;
  position: relative;
  top: -7px;
  width: 100%;
  display: inline-block;
}
.name {
  font-size: 27px;
  margin-right: 10px;
}
#header .username {
  font-size: 17px;
  font-weight: 500;
  opacity: 0.7;
}

.headshot {
  border-radius: 50%;
}
.following-btn {
  padding: 5px;
  color: #F7F7F2;
  font-weight: 500;
  display: inline-block;
  background-color: #1DA1F2;
  margin: 0px 5px;
  zoom: 0.8;
  transform: translateY(-3px);
}

#profile-header #tabs {
  width: 100%;
  height: 45px;
  background-color: #22303F;
  border: 1px #18202A solid;
  border-top: 0px black solid;
  display: flex;
  justify-content: space-between;
}
.tab {
  display: block;
  text-transform: uppercase;
  width: 210px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  vertical-align: middle;
}
.tab-active {
  /**outline: 5px #1DA1F2 solid;
  outline-offset: -5px;*/
  box-shadow: inset 0px -5px 0px 0px #1DA1F2;
}
.section {
  margin: 20px auto 0px auto;
  background-color: transparent;
  width: 840px;
  border: 0px #18202A solid;
  overflow: hidden;
  display: block
}
.section .active {
  display: block;
}
#info, #ratings {
  display: flex;
  background-color: #2E3E4F;
}
.sidemenu {
  width: 240px;
  background-color: #22303F;
  border-right: 1px #18202A solid;
  padding: 17px 0px;
  order: 0;
}
.sidemenu a {
  display: block;
  padding: 5px 25px;
  cursor: pointer;
  margin: 15px 0px;

}
.menu-active {
  font-weight: 600;

}
.content-card {
  padding: 33px;
  width: 533px;
  display: inline-block;
  order: 1;
}
.segment {
  padding: 0px 0px 35px 0px;

}
.segment .title {
  text-transform: uppercase;
  font-size: 17px;
  display: block;
  margin-bottom: 12px;
  font-weight: 500;
}
.segment p {
  font-size:15px;
  opacity: 0.8;
  margin: 0px 0px;
  line-height: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}
table td {
  border-top: 0.2px rgba(255,255,255, 0.2) solid;
  border-bottom: 0.2px rgba(255,255,255, 0.2) solid;
  padding: 9px 6px;
}
table td:first-child {
  font-weight: 300;
}
table td:nth-child(2) {
  font-weight:500;
}
.hide {
  display: none;
}

.rating-card {
  border: 0px gray solid;
  padding: 10px 0px;
}
.rating-card .card-header {
  font-weight: 500;
  font-size: 18px;
}
.rating-card .card-header .username {
  color: #F6511D;

}
.rating-card p {
  padding-top: 5px;
}
.rating-bar {
  width: 230px;
  height: 12px;
  margin: 7px 0px;
}

.rating-bar .shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.06);
}
.rating-bar .fill {
  max-width: 100%;
  min-width: 0%;
  height: 100%;
  background-color: #1DA1F2;
  position: relative;
  top: -100%;

}
.rating-bar table {
  width: 100%;
  height: 100%;
  position: relative;
  top: -200%;
}
.rating-bar table td {
  border: 2px #2E3E4F solid;
}
.rating-bar .score {
  display: inline-block;
  float: right;
  height: 100%;
  overflow: visible;
  text-align: right;
  font-size: 21px;
  line-height: 100%;
  vertical-align: middle;
  font-weight: 500;
  transform: translate(46px,-3px);
}
#overall-ratings {
  display: flex;
  justify-content: space-around;
}
.rating-feature {
  width: 50%;
  padding: 0px 15px;

}
.orange {
  color: #F6511D
}
.green {
  color: #29C016;
}
.green-bck {
  background-color: #29C016 !important;
}
.orange-bck {
  background-color: #F6511D !important;
}
.rating-feature>* {
  text-align: center;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;

}
.rating-feature .rating-bar .score {
  display: none; /*Use big score instead*/

}
.rating-feature .big-score {
  font-size: 45px;
  font-weight: 500;
}
.rating-feature .rating-bar {
  height: 20px !important;
}
.rating-feature .reviews-shortcut {
  color: #F7F7F2;
  opacity: 0.58;
  font-weight: 500;
  text-decoration: none;
  margin-top: 10px;
}





a {
  cursor: pointer;
  text-decoration: none;
}

.text-fadein {
  animation: fadein 0.25s;
  -moz-animation: fadein 0.25s; /* Firefox */
  -webkit-animation: fadein 0.25s; /* Safari and Chrome */
  -o-animation: fadein 0.25s; /* Opera */
}

