<div class="col-sm-3">
  <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
  <div class="review-block-name">
    <a routerLink="../">
      {{rating.reviewerUsertable.firstName}} {{rating.reviewerUsertable.lastName}}<br>
      @{{rating.reviewerUsertable.riftTag}}
    </a>
  </div>
  <div class="review-block-date">{{rating.createdTime | date: longDate}}<br/>1 day ago</div>
</div>
<div class="col-sm-9">
  <div class="review-block-rate">
    {{accountType}}<br>
    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </button>
    {{rating.rating}}
  </div>
  <div class="review-block-title">{{rating.reviewTitle}}</div>
  <div class="review-block-description">{{rating.review}}</div>
</div>

<!---->
