<div class="media activity-item">
  <a href="#" class="pull-left">
    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Avatar" class="media-object avatar">
  </a>
  <div class="media-body">
    <p class="activity-title">{{notification.notificationContent}} </p>
    <small class="text-muted">{{notification.createdTime | date:'fullDate'}} at {{notification.createdTime | date:'shortTime'}}</small>
  </div>
  <div class="btn-group pull-right activity-actions" *ngIf="notification.notificationType == 'gameRequest'">
    <button type="button" class="btn btn-primary btn-xs">
      Accept
    </button>
    <button type="button" class="btn btn-danger btn-xs">
      Reject
    </button>

  </div>
</div>
