<div class="media activity-item">
  <a href="#" class="pull-left">
    <img src="{{notification.creatorProfilePic}}" class="media-object avatar">
  </a>
  <div class="media-body">
    <p class="activity-title"><b>{{notification.creatorRiftTag}}</b> {{notification.notificationContent}} </p>
    <div *ngIf="status == 0">
      rejected
    </div>
    <div *ngIf="status == 1">
      pending
    </div>
    <div *ngIf="status == 2">
      accepted
    </div>
    <small class="text-muted">{{notification.createdTime | date:'fullDate'}} at {{notification.createdTime | date:'shortTime'}}</small>
  </div>
  <div class="btn-group pull-right activity-actions" *ngIf="notification.notificationType == 'gameRequest'">
    <app-session-accept-reject-button
    [notification]="notification" [status]="status">
    </app-session-accept-reject-button>
  </div>
</div>
<div class="divider dropdown-divider"></div>
