<div class="media activity-item" *ngFor="let activity of currentUser.activities">
  <a href="#" class="pull-left">
    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Avatar" class="media-object avatar">
  </a>
  <div class="media-body">
    <p class="activity-title"><a href="#">{{currentUser.riftTag}}</a> {{activity.notificationContent}} </p>
    <small class="text-muted">{{activity.createdTime | date:'fullDate'}} at {{activity.createdTime | date:'shortTime'}}</small>
  </div>
  <div class="btn-group pull-right activity-actions">
    <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-th"></i>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      <li><a href="#">I don't want to see this</a></li>
      <li><a href="#">Unfollow Antonius</a></li>
      <li class="divider"></li>
      <li><a href="#">Get Notification</a></li>
    </ul>
  </div>
</div>
