<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" routerLink="home">Rift</a>
      <app-search-bar></app-search-bar>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="feed" *ngIf="auth.isAuthenticated()">Feed</a>
        </li>
        <li>
          <a routerLink="sessions" *ngIf="auth.isAuthenticated()">Sessions</a>
        </li>
        <li>
          <a [routerLink]="['user', getCurrentUser().nickname]" *ngIf="auth.isAuthenticated()">Profile</a>
        </li>
        <li class="dropdown" *ngIf="auth.isAuthenticated()">
          <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
              <span class="glyphicon glyphicon-bell"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li *ngIf="currentUser.notifications.length == 0">
                No new notifications
              </li>
              <li class="media" *ngFor="let notification of currentUser.notifications">
                <app-notification [notification]="notification"></app-notification>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <a (click)="auth.login()" *ngIf="!auth.isAuthenticated()">Login</a>
        </li>
        <li>
          <a (click)="auth.logout()" *ngIf="auth.isAuthenticated()">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

