<form #addGameAccountForm="ngForm" class="editForm" novalidate>
  <div class="tab-pane fade in active">
    <h4 class="head text-center">{{title}}</h4>
    <br/>
    <div class="row">
      Current Game: {{data.account.gameName}}<br>
      Current IGN: {{data.account.ign}}
    </div>
    <div class='row'>
      <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
        <div class="row">
          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label" for="ign">What is your ign?</label>
              <input class="form-control input-md" #complaint="ngModel" [(ngModel)]="ign" required id="ign" name="ign" type="text" placeholder="In game name">
            </div>
          </div>
        </div>
        <div class="row">
          <button class="btn-primary" type="button" (click)="changeStatus(template)">Delete Account</button>
        </div>
        <ng-template #template style="margin-top:20%">
          <div class="modal-body text-center">
            <p>The following sessions have your account linked to it.<br>Please change the account associated before proceeding</p>
            <div class="form-group">
              <label for="account">Select an Account</label>
              <select class="form-control" id="account" [(ngModel)]="accountId" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let account of gameAccounts" [value]="account.id">{{account.ign}}</option>
              </select>
            </div><br>
            <button type="button" class="btn btn-default" (click)="editSessionsGameAccount()" >Confirm</button>
            <button type="button" class="btn btn-primary" (click)="modalRef.hide()" >Cancel</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div>
    <button [disabled]="!addGameAccountForm.valid"  (click)=save() class="btn-primary" type="button">Update</button>
    <button routerLink="../" class="btn-primary" type="button">Cancel</button>
  </div>
</form>

<!--<pre>{{ userRatingData | json }}</pre>-->
<!--[routerLink]="['../', currentUser.riftTag]"-->
