<div class="container">
  <div class="row">
    <div ng-view class="col-xs-2"></div>
    <div class="col-xs-8">
      <div class="box">
        <div class="box-icon">
          <img src="{{notification.creatorProfilePic}}" class="profile-pic">
        </div>
        <div class="info">
          <h4 class="text-center">{{notification.riftTag}}</h4>
          <p><b>{{notification.riftTag}}</b> {{notification.notificationContent}}</p>
          <app-session-card [routerLink]="['../../session', session.id]"
                            [session]="notification.rifterSession" [isLoggedIn]="isLoggedIn"
                            [type]="session.type"
          ></app-session-card>
        </div>
      </div>
    </div>
    <div ng-view class="col-xs-2"></div>

  </div>
</div>
