<div class="container">
  <div class="row">
    <div ng-view class="col-xs-2"></div>
    <div class="col-xs-8">
      <div class="box">
        <div class="box-icon">
          <img src="{{notification.creatorProfilePic}}" class="profile-pic">
        </div>

        <div class="info">
          <h4 class="text-center">{{notification.firstName}} {{notification.lastName}}</h4>
          <small class="text-muted">{{notification.createdTime | date:'fullDate'}} at {{notification.createdTime | date:'shortTime'}}</small>
          <p><b>{{notification.riftTag}}</b> {{notification.notificationContent}} {{notification.rifterSession.title}}</p>
          <app-session-card [routerLink]="['../session', notification.rifterSession.id]"
                            [session]="notification.rifterSession" [isLoggedIn]="isLoggedIn"
                            [type]="notification.rifterSession.type"
          ></app-session-card>
        </div>
      </div>
    </div>
    <div ng-view class="col-xs-2"></div>

  </div>
</div>
