<div class="card">
  <img src="https://ak4.picdn.net/shutterstock/videos/12360614/thumb/9.jpg" alt="John" style="width:100%">
  <h1>{{user.firstName}} {{user.lastName}}</h1>
  <p class="title">@{{user.riftTag}}</p>
  <p>Harvard University</p>

  <app-follow-button [following]="isFollowing(user.riftTag)" [id]="user.id"
                     [loggedInUser]="loggedInUser" class="userbtn">
  </app-follow-button>
</div>

<!--<div class="card h-100">-->
<!--<img class="card-img-top" src="https://ak4.picdn.net/shutterstock/videos/12360614/thumb/9.jpg" alt="">-->
<!--<div class="card-body">-->
  <!--<h4 class="card-title">-->
    <!--<a href="#">{{user.firstName}} {{user.lastName}}</a>-->
  <!--</h4>-->
  <!--<h5>@{{user.riftTag}}</h5>-->
  <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>-->
  <!--<app-follow-button [following]="isFollowing(user.riftTag)" [id]="user.id"-->
  <!--[loggedInUser]="loggedInUser" class="userbtn">-->
  <!--</app-follow-button>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="card-footer">&ndash;&gt;-->
  <!--&lt;!&ndash;<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
