<div class="event-list">
  <div>
    <time datetime="2014-07-20">
      <span class="day">{{day}}</span>
      <span class="month">{{month}}</span>
    </time>
    <img alt="{{game}}" src="{{sessionIcon}}" />
    <div class="info">
      <h2 class="title" [routerLink]="['../../session', id]">{{title}}</h2>
      <p class="desc">{{hostName}}</p>
      <p class="desc">@{{hostRiftTag}}</p>
      <p class="desc">Rating: {{hostRifterRating}}</p>
      <p class="desc">{{time}} {{console}} {{game}}</p>
    </div>
  </div>
</div>


